#bg {
  background-color: #f2f3f4;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 20px;
}

.select-box {
  border: 1px solid #f2f3f4;
  border-radius: 6px;
  width: 15rem;
  margin-top: 8px;
  padding: 5px;
  position: relative;
  background-color: #f2f3f4;
}

#displayBtn {
  margin-top: 3%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

.column {
  flex: 1;
  padding: 10px;
  /* box-sizing: border-box; */
  /* border: 1px solid #ccc; */
  /* margin: 5px; */
  text-align: center;
  /* background-color: #f9f9f9; */
}

.heading {
  display: flex;
  margin-bottom: 10px;
  /* border: 1px solid black; */
  position: relative;
}

.heading-right {
  display: flex;
  position: absolute;
  right: 0;
  /* border: 1px solid black; */
  margin-right: 2%;
}

h2 {
  margin: 0;
}

.disabledBtn {
  display: flex;
  margin-top: 5px;
}

.card {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ticket-id {
  text-align: left;
  color: #99a3a4;
}

.ticket-title {
  text-align: left;
}

#btn1 {
  font-weight: 900;
  border: 0.5px solid #cacfd2;
  margin-bottom: 3px;
  margin-right: 5px;
}

#btn2 {
  /* margin-inline-start: 5px; */
  border: 0.5px solid #cacfd2;
  margin-bottom: 3px;
}
